
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <a href="https://open.weixin.qq.com/connect/qrconnect?appid=wx3b60f7793a678151&redirect_uri=http://10086cc5.nat123.cc/WeChat/IsBind&response_type=code&scope=snsapi_login&state=STATE#wechat_redirect">微信登陆</a>
    </div>
</body>
</html>
